@tailwind base;
@tailwind components;
@tailwind utilities;

.inverted-text {
  position: relative;
  z-index: 1;
  background-color: transparent;
}

.inverted-text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  backdrop-filter: invert(1);
}

html,
body,
#root {
  @apply h-full;
}
